/*!* row color *!*/
/*div.row {*/
/*    border: 1px dashed blue;*/
/*}*/
/*!* cell color *!*/
/*div.row > div {*/
/*    border: 1px solid red;*/
/*}*/
/*div.tall-row {*/
/*    height: 300px;*/
/*}*/

body{
    background-image: url("img/nordwood-themes-ivP3TYdLvw0-unsplash (1).jpg");]
    background-color: darkolivegreen;

}
.navbar{
    background-image: url("img/nordwood-themes-ivP3TYdLvw0-unsplash (1).jpg");
    width: 100%;
    height: 100%;
    background-color: rgba(250, 250, 242, 0.23);
}

.header {
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    text-shadow: lightgray 2px 2px;
    color: darkolivegreen;
    letter-spacing: 2px;
}
.form1{
    font-family: 'Jost', sans-serif;
    letter-spacing: 2px;
}
.form2{
    font-family: 'Jost', sans-serif;
    letter-spacing: 2px;
}
.middleDiv{
    padding: 50px;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 2em;
}
.container{
    opacity: .92;
}
p{
    color: darkolivegreen;
    text-shadow: white 1px 1px;
    font-weight: bolder;
    font-size: medium;
    letter-spacing: 4px;
}
.h1, h1 {
    text-shadow: white 1px 1px;
}
hr{
    border: dashed red;

    /*width: 100%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*opcaity: 0.3;*/
    /*color: darkolivegreen;*/
}


#roast-selection{
    color: rgba(139, 69, 19, 0.82);
}
#add-roast{
    color: rgba(139, 69, 19, 0.82);
}
label{
    font-family: 'Jost', sans-serif;
    color: darkolivegreen;
    text-shadow: white 1px 1px;
    font-weight: bolder;
    font-size: medium;
    letter-spacing: 4px;
}
#name-selection::placeholder{

    color: rgba(139, 69, 19, 0.82);
}
#add-name::placeholder {
    color: rgba(139, 69, 19, 0.82);
}