/*!* row color *!*/
/*div.row {*/
/*    border: 1px dashed blue;*/
/*}*/
/*!* cell color *!*/
/*div.row > div {*/
/*    border: 1px solid red;*/
/*}*/
/*div.tall-row {*/
/*    height: 300px;*/
/*}*/

body{
    background-image: url("img/nordwood-themes-ivP3TYdLvw0-unsplash (1).jpg");]
    background-color: darkolivegreen;


}
/*nav needs to match background in order to blend*/
.navbar{
    background-image: url("img/nordwood-themes-ivP3TYdLvw0-unsplash (1).jpg");
    width: 100%;
    height: 100%;
    background-color: rgba(250, 250, 242, 0.23);
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
h1 {
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-shadow: black 2px 2px;
}
.form1{
    font-family: 'Jost', sans-serif;

    /*background-color: whitesmoke;*/
}
/*.middleRow{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    font-family: 'Jost', sans-serif;*/
/*    margin-bottom: 30px;*/
/*    margin-top: 30px;*/
/*}*/
.middleDiv{
    padding: 50px;
}
.container{
    opacity: .9;
    font-family: 'Jost', sans-serif;
    /*color: darkolivegreen;*/

}
.midText{
    font-family: 'Jost', sans-serif;

    text-align: center;
}
p{
    color: black;
    text-shadow: white 1px 1px;
    font-weight: bold;
}





